<%- include('../templates/head') %>
<body>
    <div class="login-box">
      <div class="login">
         <div class="login-img">
          <!-- 清远农货链 -->
            <img src="../images/login/login_logo.png" alt="">
         </div>
         <div class="login">
           <div class="login-user">
              <img src="../images/login/login_user_logo.png" alt="">
              <input class="user" type="text" placeholder="输入用户名">
           </div>
           <div class="login-pass">
             <img src="../images/login/login_pass_logo.png" alt="">
              <input type="text" placeholder="输入密码">
           </div>
           <div class="login-login">
             <button class="login-btn">登录</button>
           </div>
           <div class="login-test">会员注册</div>
           <div class="login-compute">copyright©云润大数据服务有限公司</div>
         </div>
      </div>
    </div>
    <%- include('../templates/foot') %>
</body>
</html>