<%- include('../templates/head') %>
<body>
  <div class="contain">
    <%- include('../templates/sidebar') %>
    <div class="rightCon">
      <div class="topNav">
        <div class="tn-left">
          <a href="#" class="logo-ribao">
            <img src="../images/logo-ribao.png" alt="">
          </a>
          <a href="#" class="logo-ribao">
            <img src="../images/logo-title.png" alt="">
          </a>
        </div>
        <div class="tn-right">
          <a href="#" class="notice">
            <img src="../images/ic-set.png" alt="">
            <span class="ic-round"></span>
          </a>
          <span class="gray-su"></span>
          <div class="selectBox">
            <span class="ic-select"></span>
            <p class="nameP">John罗</p>
          </div>
          <div class="headerBox">
            <a href="#" class="header-pic">
              <img src="../images/header-pic.png" alt="">
            </a>
          </div>
        </div>
      </div>
      <div class="bottomMain">
        <div class="produceList">
          <ul class="produceUl">
            <li>
              <div class="img">
                <img src="../images/pro-shucai.png" alt="">
              </div>
              <span>蔬菜</span>
            </li>
            <li>
              <div class="img">
                <img src="../images/pro-shucai.png" alt="">
              </div>
              <span>蔬菜</span>
            </li>
            <li>
              <div class="img">
                <img src="../images/pro-more.png" alt="">
              </div>
              <span>更多</span>
            </li>
          </ul>
        </div>
        <div class="classifyBox">
          <p class="signTit">蔬菜</p>
          <ul class="classifyUl">
            <li>
              <div class="cla-pic">
                <img src="../images/shucai-jilan.png" alt="">
              </div>
              <div class="cla-des">
                <p class="d-name">
                  <span class="sp1">芥兰</span>
                  <span class="sp2"><i class="yellow">￥2.50</i> 元/斤</span>
                </p>
                <div class="d-wen">
                  <div class="wLeft">
                    <p>区块哈希值：e5420e3115rty54f44519mh633e5420e3</p>
                    <p class="ku">
                      <span>商品库存：203482</span>
                      <span>批次：1204441</span>
                      <span>商品产地：清远</span>
                    </p>
                  </div>
                  <div class="wRight">
                    <p>前一区块哈希值：e5e20e31545rty54f45519mh63251e315</p>
                    <p>新闻官：英德黎溪镇大埔村村长杨文斌</p>
                  </div>
                </div>
              </div>
              <div class="cla-btn">
                <a href="#" class="greenBtn">查链溯源</a>
              </div>
            </li>
            <li>
              <div class="cla-pic">
                <img src="../images/shucai-jilan.png" alt="">
              </div>
              <div class="cla-des">
                <p class="d-name">
                  <span class="sp1">芥兰</span>
                  <span class="sp2"><i class="yellow">￥2.50</i> 元/斤</span>
                </p>
                <div class="d-wen">
                  <div class="wLeft">
                    <p>区块哈希值：e5420e3115rty54f44519mh633e5420e3</p>
                    <p class="ku">
                      <span>商品库存：203482</span>
                      <span>批次：1204441</span>
                      <span>商品产地：清远</span>
                    </p>
                  </div>
                  <div class="wRight">
                    <p>前一区块哈希值：e5e20e31545rty54f45519mh63251e315</p>
                    <p>新闻官：英德黎溪镇大埔村村长杨文斌</p>
                  </div>
                </div>
              </div>
              <div class="cla-btn">
                <a href="#" class="greenBtn">查链溯源</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <%- include('../templates/foot') %>
</body>

</html>