<%- include('../templates/head') %>
<style>
  .titWrap {
    background-color: #ffffff;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .24rem;
    margin-bottom: .24rem;
  }
</style>

<body>
  <div class="contain">
    <%- include('../templates/sidebar') %>
    <div class="rightCon">
      <div class="topNav">
        <div class="tn-left">
          <a href="#" class="logo-ribao">
            <img src="../images/logo-ribao.png" alt="">
          </a>
          <a href="#" class="logo-ribao">
            <img src="../images/logo-title.png" alt="">
          </a>
        </div>
        <div class="tn-right">
          <a href="#" class="notice">
            <img src="../images/ic-set.png" alt="">
            <span class="ic-round"></span>
          </a>
          <span class="gray-su"></span>
          <div class="selectBox">
            <span class="ic-select"></span>
            <p class="nameP">John罗</p>
          </div>
          <div class="headerBox">
            <a href="#" class="header-pic">
              <img src="../images/header-pic.png" alt="">
            </a>
          </div>
        </div>
      </div>
      <div class="bottomMain">
        <!-- 标题 -->
        <div class="titWrap">
          <p class="signTit" style="margin-bottom: 0;">
            乡村新闻官
          </p>
          <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">返回上层</button>
        </div>

        <!-- 栅格布局 -->
        <div class="flex">
          <div class="wrap-left">
            <div class="flex flex-2" style="width: 100%;">
              <div class="flex-item">
                <div class="head">
                  <h4 class="title">新闻官个人信息</h4>
                </div>
                <div class="body">
                  <div class="body-above">
                    <div class="above-img">
                      <img class="img" src="../images/info.png" alt="">
                    </div>
                    <div class="above-intr">
                      <div class="intr-name">张华强</div>
                      <div class="intr-posi">黄埔村新闻官</div>
                      <div class="intr-acc">授权记者:黄小燕</div>
                    </div>
                  </div>
                  <div class="body-below">
                    数字乡村·V村在线平台将真实村官的样貌通过三维重建技术呈现到虚拟的乡村场景中，让用户看到跟真人一样的村官，并与其在线交流。
                  </div>
                </div>
              </div>
              <div class="flex-item">
                <div class="head">
                  <h4 class="title">营业额</h4>
                </div>
                <div class="body" id="chartsLine1">

                </div>
              </div>
            </div>
            <div class="flex">
              <div class="flex-item" style="width:100%">
                <div class="head">
                  <h4 class="title">当天视频实况</h4>
                </div>
                <div class="body">
                  <div class="video">
                    <div class="video-bc">
                      <div class="video-img">
                        <img class="ding" src="../images/videoPic.png" alt="">
                      </div>
                      <div class="video-size">白蒿菜 野生食用新鲜蒿子叶(特产)</div>
                      <div class="video-play"><img src="../images/play.png" alt=""></div>
                    </div>

                    <div class="video-bc">
                      <div class="video-img">
                        <img class="ding" src="../images/videoPic.png" alt="">
                      </div>
                      <div class="video-size">白蒿菜 野生食用新鲜蒿子叶(特产)</div>
                      <div class="video-play"><img src="../images/play.png" alt=""></div>
                    </div>

                    <div class="video-bc">
                      <div class="video-img">
                        <img class="ding" src="../images/videoPic.png" alt="">
                      </div>
                      <div class="video-size">白蒿菜 野生食用新鲜蒿子叶(特产)</div>
                      <div class="video-play"><img src="../images/play.png" alt=""></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex flex-2" style="width: 100%;">
              <div class="flex-item">
                <div class="head">
                  <h4 class="title">当天视频实况</h4>
                </div>
                <div class="body" id="chartsBar1">

                </div>
              </div>
              <div class="flex-item">
                <div class="head">
                  <h4 class="title">新闻官排行榜</h4>
                </div>
                <div class="body">
                  <div class="ranking">
                    <div class="ranking_one">
                      <div class="one_logo">
                        <img src="../images/gold 4.png" alt="">
                      </div>
                      <div class="one_img">
                        <img src="../images/mountain.png" alt="">
                      </div>
                      <div class="one_name">
                        张华强
                      </div>
                      <div class="one_info">
                        黄埔村新闻官
                      </div>
                      <div class="one_sales">销售额 108w</div>
                    </div>
                    <div class="ranking_one">
                      <div class="one_logo">
                        <img src="../images/gold 4.png" alt="">
                      </div>
                      <div class="one_img">
                        <img src="../images/mountain.png" alt="">
                      </div>
                      <div class="one_name">
                        张华强
                      </div>
                      <div class="one_info">
                        黄埔村新闻官
                      </div>
                      <div class="one_sales">销售额 108w</div>
                    </div>
                    <div class="ranking_one">
                      <div class="one_logo">
                        <img src="../images/gold 4.png" alt="">
                      </div>
                      <div class="one_img">
                        <img src="../images/mountain.png" alt="">
                      </div>
                      <div class="one_name">
                        张华强
                      </div>
                      <div class="one_info">
                        黄埔村新闻官
                      </div>
                      <div class="one_sales">销售额 108w</div>
                    </div>
                    <div class="ranking_one">
                      <div class="math">
                        <span>4</span>
                      </div>
                      <div class="one_img">
                        <img src="../images/mountain.png" alt="">
                      </div>
                      <div class="one_name">
                        张华强
                      </div>
                      <div class="one_info">
                        黄埔村新闻官
                      </div>
                      <div class="one_sales">销售额 108w</div>
                    </div>
                    <div class="ranking_one">
                      <div class="math">
                        <span>5</span>
                      </div>
                      <div class="one_img">
                        <img src="../images/mountain.png" alt="">
                      </div>
                      <div class="one_name">
                        张华强
                      </div>
                      <div class="one_info">
                        黄埔村新闻官
                      </div>
                      <div class="one_sales">销售额 108w</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="wrap-right">
            <div class="flex-item">
              <div class="head">
                <h4 class="title">货品销售排行榜</h4>
              </div>
              <div class="body" id="chartsMeter1">

              </div>
            </div>
            <div class="flex-item">
              <div class="head">
                <h4 class="title">实时信息</h4>
              </div>
              <div class="body">
                <div class="information">
                  <div class="time-into">
                    <div class="time-title">
                      白蒿菜 野生食用新鲜蒿子叶(大别山特产)生长期短是当地特色
                    </div>
                    <div class="time-updata">
                      更新时间：2020年01月07日 19:35:55
                    </div>
                  </div>

                  <div class="time-into">
                    <div class="time-title">
                      富贵菜 降三高最好的食疗蔬菜
                    </div>
                    <div class="time-updata">
                      更新时间：2020年01月07日 19:35:55
                    </div>
                  </div>

                  <div class="time-into">
                    <div class="time-title">
                      桂柳鸭苗45天出栏【热销榜好货】 ，包打疫苗假一赔十
                    </div>
                    <div class="time-updata">
                      更新时间：2020年01月07日 19:35:55
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex-item">
              <div class="head">
                <h4 class="title">区块链记者排行榜</h4>
              </div>
              <div class="body">
                <div class="reporter">
                  <div class="reporter_one">
                    <div class="one_logo">
                      <img src="../images/gold 4.png" alt="">
                    </div>
                    <div class="one_img">
                      <img src="../images/mountain.png" alt="">
                    </div>
                    <div class="one_name">
                      张华强
                    </div>
                    <div class="one_info">
                      黄埔村新闻官
                    </div>
                    <div class="one_sales">销售额 108w</div>
                  </div>
                  <div class="reporter_one">
                    <div class="one_logo">
                      <img src="../images/gold 4.png" alt="">
                    </div>
                    <div class="one_img">
                      <img src="../images/mountain.png" alt="">
                    </div>
                    <div class="one_name">
                      张华强
                    </div>
                    <div class="one_info">
                      黄埔村新闻官
                    </div>
                    <div class="one_sales">销售额 108w</div>
                  </div>
                  <div class="reporter_one">
                    <div class="one_logo">
                      <img src="../images/gold 4.png" alt="">
                    </div>
                    <div class="one_img">
                      <img src="../images/mountain.png" alt="">
                    </div>
                    <div class="one_name">
                      张华强
                    </div>
                    <div class="one_info">
                      黄埔村新闻官
                    </div>
                    <div class="one_sales">销售额 108w</div>
                  </div>
                  <div class="reporter_one">
                    <div class="math">
                      <span>4</span>
                    </div>
                    <div class="one_img">
                      <img src="../images/mountain.png" alt="">
                    </div>
                    <div class="one_name">
                      张华强
                    </div>
                    <div class="one_info">
                      黄埔村新闻官
                    </div>
                    <div class="one_sales">销售额 108w</div>
                  </div>
                  <div class="reporter_one">
                    <div class="math">
                      <span>5</span>
                    </div>
                    <div class="one_img">
                      <img src="../images/mountain.png" alt="">
                    </div>
                    <div class="one_name">
                      张华强
                    </div>
                    <div class="one_info">
                      黄埔村新闻官
                    </div>
                    <div class="one_sales">销售额 108w</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../templates/foot') %>
</body>
<script>
  var data = {
    value: 84,
    color: {
      pieMini: '#77a726', //小圆形颜色
      pieMiniMini: '#fff', //小小圆形颜色
      piePlus: '#77a726', //大圆形颜色
      value: '#283E53'
    }
  };
  var charts = echarts.init(document.getElementById('chartsLine1')),
    charts2 = echarts.init(document.getElementById('chartsMeter1')),
    charts3 = echarts.init(document.getElementById('chartsBar1')),
    placeHolderStyle = {
      normal: {
        label: {
          show: false
        },
        labelLine: {
          show: false
        },
        color: "rgba(0,0,0,0)",
        borderWidth: 0
      },
      emphasis: {
        color: "rgba(0,0,0,0)",
        borderWidth: 0
      }
    },
    dataStyle = {
      normal: {
        show: true,
        position: 'center',
        formatter: '{a|' + '{c}' + '%}',
        textStyle: {
          rich: {
            a: { fontSize: 20, color: '#9EABBC', padding: [0, 0, 5, 0] }
          }
        }
      }
    },
    option = {
      tooltip: {
        trigger: 'axis',
        extraCssText: 'box-shadow:0 0 10px rgba(108,132,156,0.5);',
        backgroundColor: 'rgba(255,255,255,0.9)',
        textStyle: {
          color: '#6C849C',
          fontSize: '13'
        },
        borderRadius: 3,
        formatter: function (params) { var tar = params[0]; return tar.name + '<br/>' + tar.seriesName + ' : ' + tar.value; }
      },
      textStyle: {
        color: '#9EABBC',
        fontSize: '14'
      },
      grid: {
        left: '2%',
        right: '5%',
        bottom: '5%',
        top: "10%",
        containLabel: true
      },
      xAxis: [
        {
          type: 'category',
          boundaryGap: false,
          axisTick: {
            show: false
          },
          axisLine: {
            show: false
          },
          axisLabel: {
            fontSize: '14',
            color: "#9aa2b5"
          },
          data: ['5月', '6月', '7月']
        }],
      yAxis: [
        {
          show: true,
          min: 0,
          max: 100,
          splitNumber: 5,
          offset: 5,
          axisLabel: {
            formatter: '{value}W',
            fontSize: '13',
            color: "#9aa2b5"
          },
          axisLine: {
            show: false
          },
          axisTick: {
            show: false
          },
          splitLine: {
            show: true,
            lineStyle: {
              color: '#ecf2f6'
            }
          },
        }],
      series: [
        {
          name: '分值',
          type: 'line',
          smooth: true,
          symbol: 'circle',
          symbolSize: 8,
          data: ['25', '15', '75', '40', '75'],
          areaStyle: {
            normal: {
              color: '#77a726',
              opacity: .15
            }
          },
          itemStyle: {
            normal: {
              color: 'white',
              opacity: 1,
              borderColor: '#77a726'
            }
          },
          lineStyle: {
            normal: {
              color: '#77a726',
              width: 2
            }
          }
        }
      ]
    },
    option2 = {
      series: [
        {
          name: '外层',
          type: 'gauge',
          radius: "100%",
          startAngle: 220,
          endAngle: -40,
          center: ['50%', '58%'],
          min: 0,
          max: 100,
          axisLine: {
            lineStyle: {
              color: [
                [data.value / 100, data.color.piePlus],
                [1, "#E9EDF0"]
              ],
              width: 15
            }
          },
          axisTick: {
            show: false
          },
          splitLine: {
            show: false
          },
          axisLabel: {
            show: false
          },
          pointer: {
            show: true,
            width: "3",
            length: '45%'
          },
          detail: {
            formatter: function (value) {
              if (value != 0) {
                var num = Math.round(value * 10) / 10;
                return parseFloat(num).toFixed(0) + '分';
              } else {
                return 0;
              }
            },
            offsetCenter: [0, "40%"],
            textStyle: {
              fontSize: 30,
              fontWeight: '500',
              color: data.color.value
            }
          },
          data: [{
            name: "",
            "value": data.value
          }]
        },
        {
          name: '刻度',
          type: 'gauge',
          radius: "85%",
          startAngle: 180,
          endAngle: 0,
          center: ['50%', '58%'],
          min: 0,
          max: 100,
          splitNumber: 4,
          axisLine: {
            show: true,
            lineStyle: {
              width: 1,
              color: [[1, 'rgba(0,0,0,0)']]
            }
          },
          axisLabel: {
            show: true,
            formatter: function (e) {
              switch (e + "") {
                case "0":
                  return "差";
                case "25":
                  return "中";
                case "50":
                  return "";
                case "75":
                  return "良";
                case "100":
                  return "优";
                default:
                  return e;
              }
            },
            textStyle: {
              fontSize: 13,
              color: '#6C849C',
              fontWeight: ""
            },
            distance: 10
          },
          axisTick: {
            show: false,
            splitNumber: 10,
            lineStyle: {
              color: '#707070', //用颜色渐变函数不起作用
              width: 1
            },
            length: -10
          },
          splitLine: {
            show: true,
            length: 10,
            lineStyle: {
              color: '#707070'
            }
          },
          detail: {
            formatter: function (param) {
              var level = '';
              if (param < 30) {
                level = '差'
              } else if (param < 50) {
                level = '中'
              } else if (param < 60) {
                level = ''
              } else if (param < 70) {
                level = '良'
              } else if (param <= 100) {
                level = '优'
              }
              return level;
            }
          },
          pointer: {
            show: false
          }
        },
        {
          "name": '圆形',  //装饰作用
          "type": 'pie',
          "hoverAnimation": false,
          "legendHoverLink": false,
          "radius": ['0%', '6%'],
          "center": ['50%', '58%'],
          "z": 10,
          "label": {
            "normal": {
              "show": false,
              "position": 'center'
            },
            "emphasis": {
              "show": false
            }
          },
          "labelLine": {
            "normal": {
              "show": false
            }
          },
          "data": [
            {
              "value": 0,
              "name": '1',
              itemStyle: {
                normal: {
                  color: "red"
                }
              }
            },
            {
              "value": 100,
              "name": '2',
              itemStyle: {
                normal: {
                  color: data.color.pieMini || "#fc9d9a"
                },
                emphasis: {
                  color: data.color.pieMini || "#fc9d9a"
                }
              }
            }]
        },
        {
          "name": '小圆形', //装饰作用
          "type": 'pie',
          "hoverAnimation": false,
          "legendHoverLink": false,
          "radius": ['0%', '3%'],
          "center": ['50%', '58%'],
          "z": 10,
          "label": {
            "normal": {
              "show": false,
              "position": 'center'
            },
            "emphasis": {
              "show": false
            }
          },
          "labelLine": {
            "normal": {
              "show": false
            }
          },
          "data": [{
            "value": 0,
            "name": '1',
            itemStyle: {
              normal: {
                color: "red"
              }
            }
          }, {
            "value": 100,
            "name": '2',
            itemStyle: {
              normal: {
                color: data.color.pieMiniMini || "#fff"
              },
              emphasis: {
                color: data.color.pieMiniMini || "#fff"
              }
            }
          }]
        }
      ]
    },
    option3 = {
      grid: {
        left: '2%',
        right: '5%',
        bottom: '5%',
        top: "10%",
        containLabel: true
      },
      xAxis: [
        {
          type: 'category',
          // boundaryGap: false,
          axisTick: {
            show: false
          },
          axisLine: {
            show: false
          },
          axisLabel: {
            fontSize: '14',
            color: "#9aa2b5"
          },
          data: ['5月', '6月', '7月']
        }],
      yAxis: [
        {
          show: true,
          min: 0,
          max: 100,
          splitNumber: 5,
          offset: 5,
          axisLabel: {
            formatter: '{value}',
            fontSize: '13',
            color: "#9aa2b5"
          },
          axisLine: {
            show: false
          },
          axisTick: {
            show: false
          },
          splitLine: {
            show: true,
            lineStyle: {
              color: '#ecf2f6'
            }
          },
        }],
      series: [{
        type: 'bar',
        data: [40, 90, 10, 20, 56],
        barWidth: '32px',
        itemStyle: {
          normal: {
            color: "#77a726",
          }
        },
        label: {
          show: true,
          fontSize: 14,
          position: 'top',
          color: "#4e5666",
          formatter: (params) => {//单独对第一个label使用样式
            return params.value + 'W'
          },

        }
      }]
    };

  charts.setOption(option);
  charts2.setOption(option2);
  charts3.setOption(option3);
  var arrchart = [];
  arrchart.push(charts, charts2, charts3);
  window.onresize = function () {
    for (var i = 0; i < arrchart.length; i++) {
      arrchart[i].resize();
    }
  };
</script>

</html>