<div class="leftNav">
  <div class="leftLogo">
    <a href="#">
      <img src="../images/yun-logo.png">
    </a>
  </div>
  <ul class="navUl">
    <li class="">
      <a href="#">
        <p class="imgP nav-home"></p>
        <p>首页</p>
      </a>
    </li>
    <li class="<%= local.qkl?'active':''%>">
      <a href="#">
        <p class="imgP nav-block"></p>
        <p>区块链溯源</p>
      </a>
    </li>
    <li class="<%= local.account?'active':''%>">
      <a href="#">
        <p class="imgP nav-news"></p>
        <p>新闻官</p>
      </a>
    </li>
    <li>
      <a href="#">
        <p class="imgP nav-goods"></p>
        <p>货品管理</p>
      </a>
    </li>
    <li>
      <a href="#">
        <p class="imgP nav-setting"></p>
        <p>系统设置</p>
      </a>
    </li>
  </ul>
</div>